SECRET_KEY=cambiar-por-clave-secreta-segura-en-produccion
DEBUG=False
ALLOWED_HOSTS=midominio.com,localhost

# Configuración  para Envío Automático por API de WhatsApp (UltraMsg, Meta Cloud API, Twilio, etc.)
WHATSAPP_API_URL=https://api.ultramsg.com/instanceXXXXX/messages/chat
WHATSAPP_API_TOKEN=tu_token_de_whatsapp_aqui
