{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">👋 Bienvenido {{ user }}</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card text-center bg-primary text-white">
            <div class="card-body">
                <i class="bi bi-people fs-1"></i>
                <h3>12</h3>
                <p>Empleados</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}